html,
body {
  height: 100%;
}

canvas {
  position: relative;
  float: left;
  width: 640;
  height: 360;
  z-index: 1000;
  border: 10px dashed black;
}

iframe {
  position: absolute;
  width: 640;
  height: 360;
  z-index: 1;
  border: 5px solid green;
}
